body{
    background-color: rgb(209, 207, 207);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#caixa-1{
    background-color: green;
    padding: 50px;
    margin: 20px;
    text-align: center;
    border-width: 4px;
    border-color: black;
    border-style: solid;
}

#caixa-2{
    background-color: green;
    padding: 50px;
    margin: 20px;
    text-align: center;
    border-width: 4px;
    border-color: black;
    border-style: solid;
}
footer {
    background-color: gray;
    color: white;
    padding: 50px;
    text-align: center;
}

main{
    background-color: red;
    padding: 100px;
}

h2{
    text-align: center;
}

header {
    text-align: center;
    padding: 50px;
    color: white;
}

