body{
    background-color: darkgrey;
    height: 2000px;
}

.pai{
    height: 200px;
    width: 200px;
    background-color: blue;
}

.filho{
    height: 50px;
    width: 50px;
    background-color: aliceblue;
}

        /* TIPO ESTATICO */
#pai-estatico{
    background-color: rgb(127, 130, 133);
    position: static;
}

#filho-estatico{
    background-color: rgb(13, 13, 100);
}

        /* TIPO FIXO */
#pai-fixo{
    background-color: brown;
    position: fixed;
    /* top: 100px;
    left: 20px; */
    bottom: 50px;
    right: 20px;
    z-index: -1;
}

#filho-fixo{
    background-color: bisque;
}

        /* TIPO STICK */
#pai-grudado{
    background-color: lawngreen;
    height: 1000px;
    width: 1000px;
}

#filho-grudado{
    background-color: snow;
    position: sticky;
    top: 10%;
    left: 53%;
}

        /* TIPO RELATIVO */
#pai-relativo{
    background-color: #f23;
}

#filho-relativo{
    background-color: #ff23ff;
    position: relative;
    top: 20px;
}

        /* TIPO ABSOLUTO */
#pai-absoluto{
background-color: violet;
}

#filho-absoluto{
    background-color: coral;
    left: 500px;
}

        /* ABSOLUTO NAO ESTATICO */
#pai-absoluto-relativo{
    background-color: chocolate;
    position: relative;
    top: 50px;
}

#filho-absoluto-relativo{
    background-color: cyan;
    position: absolute;
    top: 100px;
}